$top-color: #0081C9;
$mid-color: #5BC0F8;
$foot-color: #1A0000;
$log-in-form-bg: #0D4C92;

.main-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, $top-color, $mid-color, $foot-color);

    .main {
        width: 50%;
        height: 500px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 5px 20px 50px #000;

        #chk {
            display: none;
        }



        .signup-form-container {
            position: relative;
            width: 100%;
            height: 100%;

            .input-wrapper {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .input-wrapper {
                    width: 50.5%;
                    justify-content: space-between;

                    input {
                        width: 40%;
                        margin: 15px 8%;
                    }

                    .year {
                        width: 20%;
                    }

                }


            }



        }

        .login-form-container {


            height: 460px;
            margin-top: 120px;
            background: $log-in-form-bg;
            border-radius: 100% / 10%;
            transform: translateY(-180px);
            transition: .8s ease-in-out;
        }

        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            font-size: 2.3em;
            justify-content: center;
            display: flex;
            margin: 0 60px;
            font-weight: bold;
            cursor: pointer;
            transition: .5s ease-in-out;
        }

        input {
            width: 40%;
            height: 20px;
            background: #e0dede;
            justify-content: center;
            display: flex;
            margin: 15px auto;
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 5px;
        }

        button {
            width: 60%;
            height: 40px;
            margin: 10px auto;
            justify-content: center;
            display: block;
            color: #fff;
            background: $top-color;
            font-size: 1em;
            font-weight: bold;
            margin-top: 20px;
            outline: none;
            border: none;
            border-radius: 5px;
            transition: .2s ease-in;
            cursor: pointer;
        }

        button:hover {
            background: $foot-color;
        }

        .login-form-container label {
            color: #ffff;
            transform: scale(.6);
        }

        #chk:checked~.login-form-container {
            transform: translateY(-500px);
        }

        #chk:checked~.login-form-container label {
            transform: scale(1);
        }

        #chk:checked~.signup-form-container label {
            transform: scale(.6);
        }

    }
}